{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  
  <h1 class="page-header">{{ self.title }}</h1>
  
  {{ self.description|default:""|markdown }}

  {% for child in self.child_collections.live %}
    {% if forloop.counter0|divisibleby:"3" %}
    {% if not forloop.first %}</div>{% endif %}
    <div class="row">
    {% endif %}
    <div class="col-md-4" style="margin-bottom: 30px;">
    <a href="{{ child.url }}" class="collection-button collection-button-bg{% cycle 1 2 3 4 5 6 7 8 9 10 %}">
      <div>{{ child.title }}</div>
      <div class="caption">
        {% if child.icon %}
        {% image child.icon width-120 as icon_img %}
        <img src="{{ icon_img.url }}" class="img-rounded pull-right" style="margin-left: 10px;">
        {% else %}
        <div class="pull-right" style="margin-left: 10px;"><span class="fa fa-{{ child.icon_predefined }}"></span></div>
        {% endif %}
        {{ child.caption }}
        <div style="clear: both"></div>
      </div>
    </a>
    </div>
  {% endfor %}
  {% if self.child_collections %}
  </div>
  {% endif %}

{% endblock %}
